body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(to bottom, blue, mediumpurple);
}

label {
    font-size: 20px;
    color: red;
    width: 150px;
    display: inline-block;
}

h1.nameTitle {
    padding-left: 50px;
    color: mediumpurple;
    border: blue, solid, 5px;
}

input[type=number] {
    width: 50px;
    box-sizing: border-box;
}
/*everything below here is for placing divs side-by-side*/
.flex-container {
    display: flex;
    width: 75%;
}

.main {
    display: flex;
    width: 75%
}

.flex-child {
    flex: none;
    padding-right: 30px;
    padding-left: 20px
}

.picture {
    flex: 1;
}
.result {
    border: 2px solid yellow;
}
