@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Tam Hogan's Site";
    ViewBag.Header = "Tam Hogan";
}

<body>
    <div class="flex-container main">
        <div class="flex-child picture">
            <img src="~/img/tam skates wide.png" style="width:95%" />
        </div>
        <div class="flex-child picture">
            <p>I would like to get many things out of 413 this semester, mainly I am excited to get some more experience in both front and back end development. I look forward to understanding ASP.NET Core and how it accomodates to all operating systems. I also look forward to learning C# and gaining experience in a strongly typed language.</p>
            <p>
                Here is a list of the top three jobs I am interested in after graduation:
                <ul>
                    <li>Back-end developer</li>
                    <li>Business Intelligence and data analyst</li>
                    <li>Consulting</li>
                </ul>
            </p>
        </div>
    </div>
    
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/gradeCalc.js"></script>
</body>