<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="icon"
          type="image/png"
          href="~/img/favicon-32x32.png" />
    <link href="~/css/css.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1 class="nameTitle">@ViewBag.Header</h1>
    <menu>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Home" asp-action="ComputeGrades" >Compute Grades</a></li>
        </ul>
    </menu>
    @RenderBody()
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/gradeCalc.js"></script>
</body>
</html>
